################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Jaba.vcxproj.user
/Jaba.vcxproj.filters
/Jaba.vcxproj
/Jaba.sln
